子コンポーネント
<input @bind="InputValue" />
<button @onclick="OnClick">押したら親に上の文字が行く</button>

@code {

    public string InputValue { get; set; }
    [Parameter]
    public string Text { get; set; } = "123456";

    [Parameter]
    public EventCallback<string> TextChanged { get; set; }

    private Task OnClick() {
        Text = InputValue;
        return TextChanged.InvokeAsync(Text);
    }
}